<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/MOHAMMED SAQLAIN/IdeaProjects/Maven_Git/src/test/java/SampleCheck_01.java">
        <classes>
            <class name="SampleCheck_01"></class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true"
          name="C:/Users/MOHAMMED SAQLAIN/IdeaProjects/Maven_Git/src/test/java/SampleTest_02.java">
        <classes>
            <class name="SampleTest_02"></class>
        </classes>
    </test>
</suite>